// Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Colors
$white: #ffffff;
$black: #141414;
$lightgray: #d9d9d9;
$gray: #999999;
$hover-lightgray: rgba($lightgray, 0.2);
$overlay-bg: rgba($black, 0.8);

// Fonts
$font-stack: 'Source Sans Pro', system, -apple-system, BlinkMacSystemFont,
  Helvetica, sans-serif, Arial;
$Roboto: 'Roboto', $font-stack;

// Font-size
$base-font-size: 1rem;

// Line-height
$base-line-height: 1.5;

// Media Queries
$tablet-width: 768px;
$ipadPro-width: 1024px;
$ipadPro-height: 1366px;
$desktop-width: 1224px;
$large-desktop-width: 1824px;
