.list-header,
.list-header-loading {
  h1 {
    font-size: 1.3rem;
  }
}

.list-header-loading {
  color: transparent;
  background: linear-gradient(to right, $gray 30%, $lightgray 50%, $gray 70%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300%;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
