nav {
  @include flexbox($justify-content: space-between, $align-items: center);
  ul {
    @include flexbox($flex-direction: row);
    li {
      margin-right: 1rem;
      font-size: 1rem;
      a {
        color: $white;
        transition: color 0.2s ease-in-out;
        @include desktop {
          &:hover {
            color: $gray;
          }
        }
      }
    }
  }
}

hr {
  border: none;
  border: 1px solid $gray;
}
