.not-found-container {
  @include flexbox($align-items: center, $flex-direction: column);
  color: $lightgray;
  h1 {
    font-size: 6.25rem;
    margin: 0;
  }
  p {
    margin: 0;
    text-transform: uppercase;
  }
  a {
    margin-top: 2rem;
    button {
      font-size: 0.75rem;
      text-transform: uppercase;
      border: 2px solid $lightgray;
      border-radius: 5px;
      padding: 0.8em;
      color: $lightgray;
      @include desktop {
        &:hover {
          background-color: $hover-lightgray;
        }
      }
    }
  }
}
